<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b57a94">  <td>19/10/05 18:49:44</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DeleteTests.DeleteEmployeeDataNegativeTest()[pri:0, instance:com.abacus.dummyapi.DeleteTests@31dc339b]">DeleteEmployeeDataNegativeTest</td> 
  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="b57a94">  <td>19/10/05 18:49:39</td>   <td>-5489</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DeleteTests.DeleteEmployeeTest()[pri:0, instance:com.abacus.dummyapi.DeleteTests@31dc339b]">DeleteEmployeeTest</td> 
  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="b57a94">  <td>19/10/05 18:49:37</td>   <td>-7385</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DeleteTests.SetupUpdateTestCases()[pri:0, instance:com.abacus.dummyapi.DeleteTests@31dc339b]">&gt;&gt;SetupUpdateTestCases</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>19/10/05 18:49:39</td>   <td>-5183</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.TestStopper(org.testng.ITestResult, [Ljava.lang.Object;)[pri:0, instance:com.abacus.dummyapi.DeleteTests@31dc339b]">&lt;&lt;TestStopper</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>19/10/05 18:49:45</td>   <td>299</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.TestStopper(org.testng.ITestResult, [Ljava.lang.Object;)[pri:0, instance:com.abacus.dummyapi.DeleteTests@31dc339b]">&lt;&lt;TestStopper</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>19/10/05 18:49:39</td>   <td>-5489</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testStarter(java.lang.reflect.Method, [Ljava.lang.Object;)[pri:0, instance:com.abacus.dummyapi.DeleteTests@31dc339b]">&gt;&gt;testStarter</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>19/10/05 18:49:44</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testStarter(java.lang.reflect.Method, [Ljava.lang.Object;)[pri:0, instance:com.abacus.dummyapi.DeleteTests@31dc339b]">&gt;&gt;testStarter</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
</table>
